
.greet-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:45vh;
    margin-left:-10rem;
}
.greeting h1{
    color:#191c21;
    font-size:2rem;
    
}
.greeting p{
    color:rgb(58, 0, 72);
    font-weight:bold;
    font-size:1.5rem;
}
.greeting ul{
    margin:0px;
    padding:5px;
}
.greeting ul li{
    list-style-type:none;
    
    font-size:1.3rem;
    font-weight:bold;
     
    
}
.greeting ul li a{
    text-decoration:none;
    color:rgb(234, 52, 171);
}

.usergreeting h1{
    color:#191c21;
     margin-bottom:0.8rem;
    font-weight:bolder;
    font-size:2.5rem;

}
.usergreeting p a{
    color:#0c0e10c5;
    font-size:1.5rem;
    font-weight:bold;
    text-decoration:none;
    margin-left:2rem;
   
}
.usergreeting p a:hover{
    border-bottom:3px solid rgb(210, 75, 237);
    padding-bottom:0.5rem;
}