{% include "./shared/base.html"%}
{%load static%}

{%block links%}
<link rel="stylesheet" href="{%static "styles/profile_app/profile_form.css"%}">
{%endblock%}
{%block content%}

{%include "./shared/header.html"%}
<div class="container">
    <h1>{{user.username}}</h1>
    <h2>{{user.email}}</h2>

    <div class="profile-edit-form">
        {%if profile.image%}
        <img id="profile-preview" src="{{profile.image.url }}" alt="Profile Picture">
        {%else%}
        <img id="profile-preview"  src="{%static "images/profile.png"%}" alt="">
        {%endif%}
        <form method="POST" action="/profileupdate" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>
                <li id="profile">
                    <label for="image">Profile Picture</label>
                    {{form.image}}
                </li>
                <li>
                    {{form.name.label_tag}}
                    {{form.name}}
                    {% if form.name.errors %}
                    <ul class="errorlist">
                        {% for error in form.name.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                <li>
                    <label for="desc">Description</label>
                    {{form.desc}}
                    {% if form.desc.errors %}
                    <ul class="errorlist">
                        {% for error in form.desc.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                <li>
                    <label for="birth">Date of Birth</label>
                    {{form.birth}}
                    {% if form.birth.errors %}
                    <ul class="errorlist">
                        {% for error in form.birth.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                <li>
                    <label for="phone">Phone Number</label>
                    {{form.phone}}
                    {% if form.phone.errors %}
                    <ul class="errorlist">
                        {% for error in form.phone.errors %}
                        <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            </ul>
            <button type="submit" class="btn">Update</button>
        </form>

        <form action="/delete" method="POST" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn delete-button">Delete Account</button>
        </form>
    </div>
</div>

{%endblock%}