{% include "./shared/base.html"%}
{%load static%}

{%block links%}
<link rel="stylesheet" href="{%static "styles/profile_app/profile.css"%}">
{%endblock%}
{%block content%}

{%include "./shared/header.html"%}
<div class="section">
    <div class="profile-card">
        <div class="profile-photo">
            {%if profile.image%}
    
            <img src="{{profile.image.url}}" alt="Profile Picture">
            {%else%}
            <img src="{%static "images/profile.png"%}" alt="">
            {%endif%}
        </div>
        <div class="profile-details">
            <h2>{{profile.name}}</h2>
            <p><strong>Description:</strong> {{profile.desc}}</p>
            <p><strong>Phone:</strong> {{profile.phone}}</p>
            <p><strong>Date of Birth:</strong> {{profile.birth}}</p>
            <div class="action-buttons">
                <a href="{% url 'profileform' %}" class="edit-button">
                    <i class="edit-icon">&#9998;</i> Edit
                </a>
                <form action="/delete" method="POST" class="delete-form">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}
