{% include "./shared/base.html"%}
{%load static%}

{%block links%}
<link rel="stylesheet" href="{%static "styles/profile_app/register.css"%}">
{%endblock%}

{%block content%}

{%include "./shared/header.html"%}<div class="register">
    
    <div class="section">
        
        
        <form method="POST" action="{%url "register"%}">
            {% csrf_token %}
            <ul>
                <h1> register page</h1>
        <li>
            {{form.username.label_tag}}
            {{form.username}}
        
            {% if form.username.errors%}
            <ul class="errorlist">
                {%for error in form.username.errors %}
                <li>{{error}}</li>
                {%endfor%}
            </ul>
            {%endif%}
           </li>
           <li>
            {{form.email.label_tag}}
            {{form.email}}
            {% if form.email.errors%}
            <ul class="errorlist">
                {%for error in form.email.errors %}
                <li>{{error}}</li>
                {%endfor%}
            </ul>
            {%endif%}
        
           </li>
           <li>
            {{form.password1.label_tag}}
            {{form.password1}}
            {% if form.password1.errors %}
            <ul class="errorlist">
                {% for error in form.password1.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
           </li>
        
           <li>
            {{form.password2.label_tag}}
            {{form.password2}}
            {% if form.password2.errors %}
            <ul class="errorlist">
                {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
           </li>
        </ul>
        <button type="submit">Register</button>
        
        </form>
        </div>
    </div>


{%endblock%}