<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {%block title%} {%endblock%}


   <link rel="stylesheet" href="{%static "styles/profile_app/base.css" %}">
   <link rel="stylesheet" href="{%static "styles/profile_app/header.css"%}">
   {%block links%} {%endblock%}
</head>
<body>
   
<script src="{%static "scripts/header.js"%}"></script>
    {%block content%}

    {%endblock%}

</body>
</html>