 

.container {
    max-width:500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    text-align: center;
    color:rgb(197, 194, 239);
 
}
h2{
    margin-bottom:2rem;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
}

#profile-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit:cover;
}

form {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size:1.5rem;
    color:rgb(203, 191, 191);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #c1b4b4;
}

.errorlist {
    color: #ff6b6b;
    margin-top: 5px;
}

.btn {
    
 
    padding: 10px;
    border: none;
    width:15rem;
    border-radius: 5px;
    background-color: #6464ac;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom:1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #6767ef;
}

.delete-button {
    background-color: #571521;
}

.delete-button:hover {
    background-color: #7f0000;
}

#id_image{
    color:rgb(224, 215, 215);
}
#profile{
    color:rgb(235, 224, 224);
    font-size:1.5rem;
    
}
#profile a{
    text-decoration:none;
    color:gray;
}
